@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

section {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-animation: bgColor 20s infinite;
          animation: bgColor 20s infinite;
}

section .bgPulse {
  width: 100%;
  height: 100%;
}

section .bgPulse span {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #fff;
}

section .bgPulse span:nth-child(3n+1) {
  background: transparent;
  border: 5px solid #fff;
}

section .bgPulse span:nth-child(1) {
  top: 50%;
  left: 20%;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}

section .bgPulse span:nth-child(2) {
  top: 80%;
  left: 40%;
  -webkit-animation: animate 12s linear infinite;
          animation: animate 12s linear infinite;
}

section .bgPulse span:nth-child(3) {
  top: 10%;
  left: 65%;
  -webkit-animation: animate 15s linear infinite;
          animation: animate 15s linear infinite;
}

section .bgPulse span:nth-child(4) {
  top: 50%;
  left: 70%;
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
}

section .bgPulse span:nth-child(5) {
  top: 10%;
  left: 30%;
  -webkit-animation: animate 9s linear infinite;
          animation: animate 9s linear infinite;
}

section .bgPulse span:nth-child(6) {
  top: 90%;
  left: 95%;
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
}

section .bgPulse span:nth-child(7) {
  top: 80%;
  left: 5%;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

section .bgPulse span:nth-child(8) {
  top: 35%;
  left: 50%;
  -webkit-animation: animate 14s linear infinite;
          animation: animate 14s linear infinite;
}

section .bgPulse span:nth-child(9) {
  top: 5%;
  left: 5%;
  -webkit-animation: animate 11s linear infinite;
          animation: animate 11s linear infinite;
}

section .bgPulse span:nth-child(10) {
  top: 25%;
  left: 90%;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(0deg);
            transform: scale(0) translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) translateY(-100px) rotate(360deg);
            transform: scale(1) translateY(-100px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(0deg);
            transform: scale(0) translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) translateY(-100px) rotate(360deg);
            transform: scale(1) translateY(-100px) rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes bgColor {
  0% {
    background-color: #f44336;
  }
  25% {
    background-color: #03a9f4;
  }
  50% {
    background-color: #9c27b0;
  }
  75% {
    background-color: #00ff0a;
  }
  100% {
    background-color: #f44336;
  }
}

@keyframes bgColor {
  0% {
    background-color: #f44336;
  }
  25% {
    background-color: #03a9f4;
  }
  50% {
    background-color: #9c27b0;
  }
  75% {
    background-color: #00ff0a;
  }
  100% {
    background-color: #f44336;
  }
}
/*# sourceMappingURL=index.css.map */